.full-modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100vw;
    height: 100%;
    background: rgba(0,0,0,0.5);
    display: flex;
    justify-content: center;
    align-items: start;
    padding-top: 50px;
    z-index: 2000;

    button{
      width: 100%;
      padding: 2vh 1vw;
      font-size: clamp(10px, 3vw, 14px);
      font-weight: 700;
      color: #000;
      cursor: pointer;
      transition: all 0.3s ease;
      font-weight: 800;
      background-color: #1e8718ea;
      border: none;
      &:hover{
        color: white;
      }
    }
  }
  
  .modal-content {
    background: white;
    width: 80%;
    max-width: 700px;
    padding: 30px;
    border-radius: 10px;
    animation: slideDown 0.4s ease;
  }
  
  @keyframes slideDown {
    from {
      transform: translateY(-50%);
      opacity: 0;
    }
    to {
      transform: translateY(0);
      opacity: 1;
    }
  }
  