.wrapper-container{
  display: block;
  width: 100%;
  transition: all .5s ease 0s;
  height: 100vh;
  overflow: hidden;
  .wrapper{
    overflow: scroll;
    display: block;
    position: relative;
    width: fit-content; 
    min-width: 100%;
    background: #000;
    height: 100vh;
    min-height: auto;
    .bg-img{
      position: absolute;
      left: 0;
      top: 0;
      z-index: 1;
      width: 2000px;
      height: fit-content;
      @media screen and (min-width: 2000px) and (max-width: 2500px) {
        width: 2500px;
      }
      @media screen and (min-width: 1000px) and (max-width: 2000px) {
        width: 2000px;
      }
      @media screen and (max-width:1000px) {
        width: 1800px; 
      }
    }
    svg{
      position: absolute;
      left: 0;
      top: 0;
      z-index: 111;
      min-width: 100%;
      width: 2000px;
      height: fit-content;
      @media screen and (min-width: 2000px) and (max-width: 2500px) {
        width: 2500px;
      }
      @media screen and (min-width: 1000px) and (max-width: 2000px) {
        width: 2000px;
      }
      @media screen and (max-width:1000px) {
        width: 1800px; 
      }
      path{
        opacity: 1;
        stroke: white;
        stroke-width: 6;  
        stroke-linecap: round;
        stroke-linejoin: round;
        cursor: pointer;
        transition: all 0.3s ease;
      }
      .green{
        fill: #5fd95867;
        &:hover{
          fill: #5fd958ea;
          opacity: 1;
        }
      }
      .red{
        fill: #ff000037;
        &:hover{
          fill: #ff0000ea;
        }
      }
    }
    .flat-details{
      border-radius: 5px;
      background: var(--main-color);            
      border: 1px solid var(--white-color);
      @media screen and (max-width:600px ) {
        padding: 2vh 5vw;
        gap: 5vh;
      }
      .floor-detail-image{
        width: 300px;
        min-height: 100%;
        height: 180px;
        border: 1px solid var(--white-color);
        border-radius: 5px;
        background: var(--main-color);
        position: relative;
        z-index: 1000;
        display: flex;
        justify-content: center;
        align-items: center;
        img{
          width: 100%;
          height: 100%;
          object-fit: cover;
          object-position: center;
          border-radius: 5px;
          @media screen and (max-width:600px ) {
            width: 100%;
            height: auto;
          }
        }
      }
      .small-popup-details{
        display: flex;
        flex-direction: column;
        border-radius: 5px;
        z-index: 100000;
        
        span{
          padding: 1.2vh 1.5vw;
          // margin: 2vh 0 2vh 0;
          display: flex;
          justify-content: space-between;
          align-items: center;
          gap: 5vw;
          font-family: Arial, Helvetica, sans-serif;
          white-space: nowrap;
          color: var(--white-color);
          border-top: 1px solid var(--white-color);
          @media screen and (max-width:600px ) {
            padding: 1vh 5vw;
          }
          h2{
            color: var(--dark-color);
            font-weight: 800;
            font-size: clamp(14px, 4vw, 18px);
            font-family: "Tenor Sans", sans-serif;
          }
          p{
            font-size: clamp(12px, 4vw, 15px);
            font-family: "Aboreto", system-ui;
            color: var(--dark-color);
            margin: 0;
            padding: 0;
            font-weight: 700;
          }
        }
  
        
      }
      .btn{
        button{
          width: 100%;
          padding: 2vh 1.5vw;
          font-size: clamp(10px, 3vw, 14px);
          font-weight: 700;
          color: #fff;
          cursor: pointer;
          transition: all 0.3s ease;
          font-weight: 700;
          background-color: var(--dark-color);
          color: var(--main-color);
          font-family: "Tenor Sans", sans-serif;
          border-radius: 8px;
          text-align: center;
          border: none;
          &:hover{
            background: #242d36b7;
          }
        }
    
        &::before{
          content: " ";
          position: absolute;
          right: 50%;
          top: -15px;
          border-top: none;
          border-right: 15px solid transparent;
          border-left: 15px solid transparent;
          border-bottom: 15px solid rgb(255, 255, 255);
        }
      }
    }
  }
}