.wrapper-container{
  display: block;
  width: 100%;
  transition: all .5s ease 0s;
  height: 100vh;
  overflow: hidden;
  .wrapper{
    overflow: scroll;
    display: block;
    position: relative;
    width: fit-content; 
    min-width: 100%;
    background: #000;
    height: 100vh;
    min-height: auto;
    .bg-img{
      position: absolute;
      left: 0;
      top: 0;
      z-index: 1;
      width: 2000px;
      height: fit-content;
      @media screen and (min-width: 2000px) and (max-width: 2500px) {
        width: 2500px;
      }
      @media screen and (min-width: 1000px) and (max-width: 2000px) {
        width: 2000px;
      }
      @media screen and (max-width:1000px) {
        width: 1800px; 
      }
    }
    svg{
      position: absolute;
      left: 0;
      top: 0;
      z-index: 111;
      min-width: 100%;
      width: 2000px;
      height: fit-content;
      @media screen and (min-width: 2000px) and (max-width: 2500px) {
        width: 2500px;
      }
      @media screen and (min-width: 1000px) and (max-width: 2000px) {
        width: 2000px;
      }
      @media screen and (max-width:1000px) {
        width: 1800px; 
      }
      path{
        opacity: 1;
        stroke: white;
        stroke-width: 6;  
        stroke-linecap: round;
        stroke-linejoin: round;
        cursor: pointer;
        transition: all 0.3s ease;
      }
      .green{
        fill: #5fd95867;
        &:hover{
          fill: #5fd958ea;
          opacity: 1;
        }
      }
      .red{
        fill: #ff000037;
        &:hover{
          fill: #ff0000ea;
        }
      }
    }
    .flat-details{
      width: fit-content;
      display: flex;
      flex-direction: column;
      border-radius: 5px;
      background: #ffffff;
      padding: 2vh 0 0 0;
      z-index: 100000;
      span{
        padding: 1vh 2vw;
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 5vw;
        font-family: Arial, Helvetica, sans-serif;
        white-space: nowrap;
        @media screen and (max-width:600px ) {
          padding: 1vh 5vw;
        }
        h2{
          font-size: clamp(14px, 4vw, 18px);
          font-weight: 600;
          font-family: "cinzel", sans-serif;
        }
        p{
          font-size: clamp(12px, 4vw, 15px);
          font-weight: 400;
          color: #000;
          margin: 0;
          padding: 0;
        }
      }
     
      button{
        width: 100%;
        padding: 2vh 1vw;
        font-size: clamp(10px, 3vw, 14px);
        font-weight: 700;
        color: #000;
        cursor: pointer;
        transition: all 0.3s ease;
        font-weight: 800;
        background-color: #1e8718ea;
        border: none;
        &:hover{
          color: white;
        }
      }
  
      &::before{
        content: " ";
        position: absolute;
        right: 50%;
        top: -15px;
        border-top: none;
        border-right: 15px solid transparent;
        border-left: 15px solid transparent;
        border-bottom: 15px solid rgb(255, 255, 255);
      }
    }
  }
}