*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

.main-font{
    font-family: "Cinzel", serif;
    font-optical-sizing: auto;
    font-style: normal;
}
.para-font{
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;  
}

