*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

.main-font{
    font-family: "Cinzel", serif;
    font-optical-sizing: auto;
    font-style: normal;
}
.para-font{
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;  
}

:root{
    --main-color: #d8d2c6;
    --second-color: #8babbc;
    --dark-color: #242d36;
    --white-color: #fafafa;
}

.main-font{
    font-family: "Aboreto", system-ui;
    font-weight: 400;
    font-style: normal;
}	
.para-font{
    font-family: "Tenor Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
}